<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Maggie Johnson's Portfolio">
    <meta name="author" content="Maggie Johnson">
    <link rel="shortcut icon" href="../../docs-assets/ico/favicon.png">

    <title>Maggie Johnson's Portfolio</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/main.css" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="/js/hover.zoom.js"></script>
    <script src="/js/hover.zoom.conf.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <!-- Static navbar -->
    <div class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">MAGGIE JOHNSON</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="<%= @home %>"><a href="/">HOME</a></li>
            <li class="<%= @about %>"><a href="/about">ABOUT</a></li>
            <li class="<%= @works %>"><a href="/works">WORKS</a></li>
            <li class="<%= @tweets %>"><a href="/tweets">TWEETS</a></li>
            <li class="<%= @insta %>"><a href="/insta">INSTAGRAM</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
      
    <%= yield %>

	
	<!-- +++++ Footer Section +++++ -->
	
	<div id="footer">
		<div class="container">
			<div class="row">
				<div class="col-lg-4">
					<h4>Home Life</h4>
					<p>
                        1400 Coleman Avenue<br/>
                        Macon, GA 31207<hr>
                        478-231-1670<br/>
                        magsleyj@gmail.com
					</p>
				</div><!-- /col-lg-4 -->
				
				<div class="col-lg-4">
					<h4>My Links</h4>
					<p> <a href="https://twitter.com/mags_johnson">Twitter</a><br/>
				        <a href="https://facebook.com/maggiej00">Facebook</a><br/>
                        <a href="https://www.linkedin.com/profile/view?id=226431830&trk=nav_responsive_tab_profile_pic">LinkedIn</a>
					</p>
				</div><!-- /col-lg-4 -->			
			</div>
		
		</div>
	</div>
	

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>
